.header-color, .banner-text {
  opacity: 0.8;
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* use uigradients.com */
.layout-color {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-text {
  color: black;
  opacity: 0.9;
  width: 40%;
  text-align: center;
  margin: auto;
  border-radius: 20px;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  color:black
}

.banner-text hr {
  border-top: 4px dotted black;
  margin:  auto;
  width: 80%;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 20px
}








